* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Упрощает работу с размерами элементов */
}

html, body {
  height: 100%; /* Занимает всю высоту экрана */
}

.App {
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  align-items: stretch; /* Элементы будут растягиваться на всю ширину */
  justify-content: flex-start; /* Выравниваем по верхнему краю */
  height: 100%; /* Занимает всю высоту экрана */
  width: 100%; /* Занимает всю ширину экрана */
  background-color: #f4f4f9;
  padding: 20px;
}

.sync-form {
  margin-bottom: 20px; /* Отступ между формой и списком */
  width: 100%; /* Занимает всю ширину */
}

.unit-list-container {
  max-height: 150vh; /* Ограничиваем высоту контейнера */
  overflow-y: auto; /* Добавляем прокрутку */
  width: 100%; /* Занимает всю ширину */
  border: 1px solid #ccc; /* Граница вокруг списка */
  padding: 10px; /* Отступ внутри контейнера */
  border-radius: 10px; /* Закругление углов */
}

.unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: 2px solid #3498db;
  background-color: #ecf0f1;
  margin-top: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #2c3e50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.unit:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #3498db;
  border-radius: 8px;
  font-size: 16px;
  color: #2c3e50;
  background-color: #ecf0f1;
}

button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
